---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/analytics
    body:
      encoding: US-ASCII
      string: key=<SP_API_KEY>&id=159400
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '20'
      X-Ratelimit-Reset:
      - '1458670964'
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"ff747fa7799ab88606056787ba618c6a"'
    body:
      encoding: UTF-8
      string: '{"success":true,"response":[{"created_at":null,"id":159400,"share_types":{"email":{"shares":0,"viral_visits":0,"viral_actions":0},"facebook":{"shares":0,"viral_visits":0,"viral_actions":0},"twitter":{"shares":25,"viral_visits":0,"viral_actions":0},"dark_social":{"shares":0,"viral_visits":0,"viral_actions":0}},"generations":[{"generation":1,"shares":25,"visits":413}],"share_tests":{"email":[{"shares":0,"successful_shares":0,"conversion":0.0,"ci":0.0,"confidence":"--","improvement":"--","winner":false,"id":501462,"weight":"100.0%"}],"facebook":[{"shares":0,"successful_shares":0,"conversion":0.0,"ci":0.0,"confidence":"--","improvement":"--","winner":false,"id":501463,"weight":"100.0%"}],"twitter":[{"shares":0,"successful_shares":0,"conversion":0.0,"ci":0.0,"confidence":"--","improvement":"--","winner":false,"id":501461,"weight":"100.0%"}]},"total":{"total_visitors":413,"total_shares":25,"total_viral_visitors":0,"total_viral_actions":0}}],"message":null}'
  recorded_at: Tue, 22 Mar 2016 18:22:39 GMT
recorded_with: VCR 3.0.1
