---
http_interactions:
- request:
    method: post
    uri: http://run.shareprogress.org/api/v1/buttons/analytics
    body:
      encoding: US-ASCII
      string: key=<SP_API_KEY>&id
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '13'
      X-Ratelimit-Reset:
      - '1458670970'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":false,"message":"Can''t find that ","response":[]}'
  recorded_at: Tue, 22 Mar 2016 18:22:39 GMT
recorded_with: VCR 3.0.1
